<a href="https://colab.research.google.com/github/tamayodb/CCMADMACL_EXERCISES_COM222ML/blob/main/Exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 2: Use Gradient Boost for Regression

Instructions:

- Use the Dataset File to train your model
- Use the Test File to generate your results
- Use the Sample Submission file to generate the same format
Submit your results to:
https://www.kaggle.com/competitions/playground-series-s4e12/overview

In [45]:
!pip install --user xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (2.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.26.4)
Requirement already satisfied: nvidia-nccl-cu12 in /usr/local/lib/python3.10/dist-packages (from xgboost) (2.23.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.13.1)

In [46]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import root_mean_squared_log_error
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

warnings.filterwarnings("ignore")

## Dataset
Train, test and sample submission file can be found in this link
https://www.kaggle.com/competitions/playground-series-s4e12/data

## 1. Load the Data

In [47]:
dtr = pd.read_csv('train.csv')
dte = pd.read_csv('test.csv')

In [48]:
# sf = pd.read_csv('sample_submission.csv')

In [49]:
print(f"dtr shape: {dtr.shape}")
print(f"dte shape: {dte.shape}")

dtr shape: (1200000, 21)
dte shape: (800000, 20)

In [50]:
dtr.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [51]:
dte.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,1200000,28.0,Female,2310.0,NaN,4.0,Bachelor's,Self-Employed,7.657981,Rural,Basic,NaN,19.0,NaN,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House
1,1200001,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,Premium,NaN,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment
2,1200002,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,Comprehensive,NaN,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo
3,1200003,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House
4,1200004,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,Premium,NaN,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House

In [52]:
# Display Values
for col in dtr.columns:
  print(f"Column: {col}")
  print(dtr[col].unique())
  print("-" * 20)

Column: id
[      0       1       2 ... 1199997 1199998 1199999]
--------------------
Column: Age
[19. 39. 23. 21. 29. 41. 48. 44. 56. 25. 40. 18. 59. 34. 22. 46. 49. 42.
 43. 64. 52. 37. 58. 50. 35. 61. 31. 54. 45. 30. 33. 28. 62. 53. 47. 27.
 nan 38. 63. 32. 36. 20. 51. 55. 57. 24. 60. 26.]
--------------------
Column: Gender
['Female' 'Male']
--------------------
Column: Annual Income
[ 10049.  31678.  25602. ... 125361. 137940.  40368.]
--------------------
Column: Marital Status
['Married' 'Divorced' 'Single' nan]
--------------------
Column: Number of Dependents
[ 1.  3.  2.  0.  4. nan]
--------------------
Column: Education Level
["Bachelor's" "Master's" 'High School' 'PhD']
--------------------
Column: Occupation
['Self-Employed' nan 'Employed' 'Unemployed']
--------------------
Column: Health Score
[22.59876067 15.56973099 47.17754929 ... 47.09690866 13.6616783
 11.48348225]
--------------------
Column: Location
['Urban' 'Rural' 'Suburban']
--------------------
Column: Policy Type
['Premium' 'Comprehensive' 'Basic']
--------------------
Column: Previous Claims
[ 2.  1.  0. nan  3.  4.  5.  6.  7.  8.  9.]
--------------------
Column: Vehicle Age
[17. 12. 14.  0.  8.  4. 11. 10.  9.  6. 19.  3. 15. 16.  5.  7. 18.  1.
  2. 13. nan]
--------------------
Column: Credit Score
[372. 694.  nan 367. 598. 614. 807. 398. 685. 635. 431. 597. 511. 498.
 584. 420. 595. 799. 773. 798. 543. 416. 425. 486. 795. 495. 449. 803.
 421. 695. 713. 589. 812. 382. 469. 530. 538. 842. 575. 794. 836. 784.
 439. 381. 801. 624. 497. 359. 662. 703. 426. 331. 679. 375. 321. 531.
 622. 464. 418. 534. 454. 502. 823. 319. 660. 371. 562. 488. 577. 791.
 638. 438. 779. 310. 748. 392. 446. 593. 576. 493. 479. 826. 332. 616.
 716. 602. 343. 377. 788. 758. 571. 554. 682. 641. 360. 522. 728. 388.
 535. 519. 651. 829. 620. 776. 835. 432. 607. 705. 644. 686. 797. 509.
 831. 529. 774. 592. 843. 738. 781. 766. 364. 349. 692. 574. 324. 632.
 379. 434. 442. 764. 429. 683. 770. 696. 611. 436. 482. 636. 609. 374.
 566. 537. 648. 578. 707. 581. 541. 845. 441. 718. 630. 586. 780. 401.
 757. 646. 752. 665. 506. 336. 430. 424. 459. 786. 447. 339. 516. 590.
 456. 334. 645. 520. 453. 647. 588. 585. 489. 532. 772. 380. 490. 573.
 712. 437. 342. 792. 583. 487. 587. 539. 793. 691. 759. 494. 762. 653.
 391. 472. 560. 659. 810. 734. 731. 765. 407. 440. 656. 815. 415. 527.
 613. 402. 783. 751. 658. 465. 335. 559. 536. 603. 657. 742. 846. 739.
 689. 468. 513. 328. 723. 626. 505. 617. 698. 725. 423. 744. 338. 743.
 348. 389. 450. 833. 704. 667. 652. 664. 825. 496. 504. 629. 580. 678.
 572. 345. 397. 346. 414. 460. 841. 596. 674. 822. 483. 405. 314. 565.
 693. 485. 832. 749. 830. 451. 387. 561. 775. 326. 302. 393. 727. 463.
 329. 730. 304. 817. 445. 768. 567. 639. 491. 582. 542. 761. 819. 778.
 523. 787. 350. 618. 548. 466. 702. 394. 844. 508. 756. 805. 476. 820.
 625. 544. 767. 473. 521. 785. 839. 553. 828. 325. 461. 547. 594. 724.
 827. 309. 378. 492. 687. 722. 452. 568. 816. 470. 555. 709. 417. 719.
 591. 396. 834. 533. 457. 604. 796. 477. 631. 341. 433. 847. 637. 684.
 386. 720. 499. 733. 697. 706. 745. 721. 612. 552. 351. 365. 818. 808.
 569. 481. 715. 406. 564. 501. 729. 524. 361. 484. 736. 518. 467. 790.
 782. 699. 760. 403. 563. 316. 710. 755. 802. 608. 376. 318. 711. 308.
 848. 557. 681. 680. 478. 601. 821. 558. 655. 301. 507. 546. 824. 677.
 404. 320. 663. 356. 410. 654. 673. 337. 619. 621. 462. 672. 763. 806.
 649. 627. 688. 849. 528. 643. 549. 746. 732. 515. 800. 444. 579. 671.
 811. 615. 737. 661. 306. 363. 556. 714. 690. 312. 352. 769. 362. 642.
 753. 307. 623. 411. 510. 634. 354. 628. 366. 838. 385. 353. 837. 599.
 500. 668. 300. 373. 814. 474. 409. 771. 726. 358. 413. 471. 514. 551.
 650. 475. 676. 384. 419. 754. 517. 311. 813. 443. 368. 701. 303. 750.
 804. 357. 455. 395. 708. 545. 717. 777. 313. 315. 600. 422. 383. 340.
 540. 512. 370. 435. 427. 408. 809. 605. 633. 675. 503. 347. 740. 327.
 412. 322. 526. 369. 840. 448. 400. 317. 610. 570. 735. 344. 480. 670.
 399. 666. 669. 550. 458. 390. 333. 789. 741. 700. 640. 525. 305. 323.
 355. 747. 606. 330. 428.]
--------------------
Column: Insurance Duration
[ 5.  2.  3.  1.  4.  6.  8.  9.  7. nan]
--------------------
Column: Policy Start Date
['2023-12-23 15:21:39.134960' '2023-06-12 15:21:39.111551'
 '2023-09-30 15:21:39.221386' ... '2021-04-28 15:21:39.129190'
 '2019-11-14 15:21:39.201446' '2020-10-19 15:21:39.118178']
--------------------
Column: Customer Feedback
['Poor' 'Average' 'Good' nan]
--------------------
Column: Smoking Status
['No' 'Yes']
--------------------
Column: Exercise Frequency
['Weekly' 'Monthly' 'Daily' 'Rarely']
--------------------
Column: Property Type
['House' 'Apartment' 'Condo']
--------------------
Column: Premium Amount
[2869. 1483.  567. ... 4937. 4507. 4925.]
--------------------

## 2. Perform Data preprocessing

In [53]:
dte.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    800000 non-null  int64
 1   Age                   787511 non-null  float64
 2   Gender                800000 non-null  object
 3   Annual Income         770140 non-null  float64
 4   Marital Status        787664 non-null  object
 5   Number of Dependents  726870 non-null  float64
 6   Education Level       800000 non-null  object
 7   Occupation            560875 non-null  object
 8   Health Score          750551 non-null  float64
 9   Location              800000 non-null  object
 10  Policy Type           800000 non-null  object
 11  Previous Claims       557198 non-null  float64
 12  Vehicle Age           799997 non-null  float64
 13  Credit Score          708549 non-null  float64
 14  Insurance Duration    799998 non-null  float64
 15  Policy Start Date     800000 non-null  object
 16  Customer Feedback     747724 non-null  object
 17  Smoking Status        800000 non-null  object
 18  Exercise Frequency    800000 non-null  object
 19  Property Type         800000 non-null  object
dtypes: float64(8), int64(1), object(11)
memory usage: 122.1+ MB

In [54]:
dte.isnull().sum()

id                           0
Age                      12489
Gender                       0
Annual Income            29860
Marital Status           12336
Number of Dependents     73130
Education Level              0
Occupation              239125
Health Score             49449
Location                     0
Policy Type                  0
Previous Claims         242802
Vehicle Age                  3
Credit Score             91451
Insurance Duration           2
Policy Start Date            0
Customer Feedback        52276
Smoking Status               0
Exercise Frequency           0
Property Type                0
dtype: int64

In [55]:
X = dtr.drop(columns=['id','Premium Amount'], axis=1)
y = dtr['Premium Amount']

## 3. Create a Pipeline

In [56]:
categorical_features = X.select_dtypes(
   include=["object"]
).columns.tolist()

numerical_features = X.select_dtypes(
   include=["float64", "int64"]
).columns.tolist()

In [57]:
numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [58]:
xgb_model =  xgb.XGBRegressor(
    n_estimators=500,
    max_depth=4,
    min_samples_split=5,
    learning_rate=0.01,
    loss='squared_error',
)

In [59]:
pipeline = Pipeline(
   [
       ("preprocessor", preprocessor),
       ("regressor", xgb_model),
   ]
)

## 4. Train the Model

In [60]:

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
pipeline.fit(X_train, y_train)

y_test_pred = pipeline.predict(X_test)

## 5. Evaluate the Model

In [ ]:
rmse = root_mean_squared_log_error(y_test, y_test_pred)
print(f"RMSE: {rmse}")

## Generate Submission File

Choose the model that has the best performance to generate a submission file.

In [ ]:
id = sf['id']  # Access the 'id' column instead of trying to pop 'Premium Amount'
y_pred = pipeline.predict(y_test_pred)  # Use the trained pipeline for prediction

# Create a submission DataFrame
submission_df = pd.DataFrame({
    'id': id,
    'Premium Amount': y_pred
})

# Save the submission DataFrame to a CSV file
submission_df.to_csv('submission_file.csv', index=False)
print("Submission file created: submission_file.csv")